/*Headings*/

.heading{
    margin:50px;
}
.heading h1{
    font-size: 64px;
    line-height: 84px;
    font-weight: 800;
    padding:24px 0;
}

.heading h2{
    font-size: 40px;
    line-height: 65px;
    font-weight: 800;
    padding: 20px 0;
}

.heading p{
    font-size:18px;
    line-height:28px;
    font-weight:300;
}

.section-heading{
    font-size:16px;
    font-weight:500;
    line-height:36px;
    text-transform: uppercase;
    color:#ffffff;
}

.heading-footer h3{
    font-size:40px;
    line-height:80px;
    font-weight:600;
}

