/* Navigation Bar */

.navbar{
    width: 100%;
    height:100px;
    background-color:#fff;
    position: fixed;
}

  .logo {
    position: absolute;
    top: 45px;
    left: 0;
  }

  .navbarContainer {
    display: block;
    position: relative;
    height: 100px;
  }


  /* Menu Hamburger*/

.burgerbtn{
  position:absolute;
  top:25px;
  right:25px;
  z-index:2;
  display:flex;
  width: 24px;
  height: 24px;
}

.burgerbtn span{
  width:20px;
  height:3px;
  background:#000;
  display:flex;
  position:absolute;
  transition:.3s;
}

.burgerbtn span:nth-child(1){
  top:33%;
}

.burgerbtn span:nth-child(2){
  top:66%;
}

.burgerbtn span:nth-child(3){
  top:100%;
}

.burgerbtn.is-active span{
  background:#fff;
}

.burgerbtn.is-active span:nth-child(1){
  top:50%;
  transform:rotate(-45deg);
}

.burgerbtn.is-active span:nth-child(2){
  top:50%;
  transform:rotate(45deg);
}

.burgerbtn.is-active span:nth-child(3){
display:none;
}

.menu{
  background:#000;
  display:flex;
  justify-content: space-evenly;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:100px;
  z-index:1;
  transition:.3s;
  opacity:0;
  visibility:hidden;
}

.menu.is-active{
  opacity: 1;
  visibility:visible;
}

.menu_list{
  display:flex;
  flex-direction:column;
  list-style-type:none;
  font-size:48px;
  color:#fff;
}

.menu_item:not(:last-child) {
  margin-bottom:30px;
}

.menu_link{
  position:relative;
  display:inline-flex;
  font-size:30px;
  color:#fff;
  text-decoration:none;
}

.menu_link:after{
  content:'';
  position:absolute;
  bottom:-10px;
  left:0;
  width:0;
  height:3px;
  border-radius:2px;
  display:inline-flex;
  background:red;
  transition:.3s;
}

.menu_link:hover:after{
  width:100%;}




  