
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
  }

.container {
    max-width: 1110px;
    margin: auto;
  }


.banner-container{
    display:flex;
    padding-top:120px;
    color:#fff;
}

.column{
    padding:20px;
    text-align:left;
}

.three-column{
    float: left;
    width: 33.33%;
    padding: 10px;
}



.mt{
    margin-top:170px;
}
.mb{
    margin-bottom:170px;
}




/* Full Container | Client Portfolio*/



.full-container{
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0;
    background-image:url("../img/full_banner_homepage.png");
    background-size: cover;
}

.clientPortfolio h2{
    text-align: center;
    padding-top:50px;
    font-size:40px;
}



  /* Services */

.heading-services{
    text-align:center;
    margin-bottom:100px;
}

.heading-services h2{
    font-size: 40px;
    line-height: 65px;
    font-weight: 800;
    color:#22244F;
    padding:24px 30px;
    
}

.heading-services p{
    font-size:24px;
    line-height:48px;
    font-weight:400;
    color:#000;
    opacity: 0.5;
    padding: 0 30px;
}

.services-container{
    display:flex;
    grid-template-columns:auto auto;
    background-color:#22244F;
    color:#fff;
    border-radius:30px;
    padding:80px 95px 70px 95px;
    margin-top:50px;
    height:520px;
}
.services-container h3{
    font-size:24px;
    line-height:23px;
    font-weight:800;
    padding-bottom:24px;
}

.services-container p{
    font-size:18px;
    line-height:36px;
    font-weight:400;
    padding-bottom:20px;
}

.servicesImg{
    width:400px;
    height:200px;
}

.servicesImg .right{
    width:400px;
    height:200px;
    position:absolute;
    bottom:-80px;
    left:-120px;
}

.services-container-grey{
    display:flex;
    grid-template-columns:auto auto;
    background-color:#F8F8FF;
    color:#22244F;
    border-radius:30px;
    padding:80px 95px;
    margin-top:170px;
    height:520px;
}

.services-container-grey h3{
    font-size:24px;
    line-height:23px;
    font-weight:800;
    padding-bottom:24px;
}

.services-container-grey p{
    font-size:18px;
    line-height:36px;
    font-weight:400;
    padding-bottom:20px;
}

.services-column{
position:relative;
}
/* Values */

.values{
    text-align:center;
}

.three-column h3{
font-size:24px;
font-weight:800;
line-height:42px;
color:#000;
}

.valuesImg{
    width:56px;
    height:56px;
    margin:30px;
}

.row {
    content: "";
    display: table;
    clear: both;}