* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    max-width: 1110px;
    margin: auto;
  }


.banner-container{
    display:flex;
    grid-template-columns:auto auto;
    padding-top:150px;

}

.column{
    padding:20px;
    text-align:left;
}

.three-column{
    float: left;
    width: 33.33%;
    padding: 10px;
}



.mt{
    margin-top:170px;
}
.mb{
    margin-bottom:170px;
}

/*Text*/

.heading{
    margin:50px;
}
.heading h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    padding: 15px 0;
}

.heading h2{
    font-size: 34px;
    line-height: 44px;
    font-weight: 700;
    padding: 15px 0;
}

.heading p{
    font-size:18px;
    line-height:28px;
    font-weight:400;
}




/*BUTTONS*/

a.btn{
    margin:20px 0;
    text-decoration:none;
}

.btn{
    font-weight:700;
    border-radius:60px;
    display:inline-block;
    transition:all .2s ease-in-out;
}

.btn-filled{
border:none;
}

.btn-stroke{
border: 2px solid #18A0FB;
background-color:#ffffff;
padding:10px 16px;
}

.btn-blue{
color:#000000;
background-color:#18A0FB;
}

.btn-banner{
    font-size:18px;
    line-height:28px;
    letter-spacing:0.8px;
    padding:10px 16px;
}


/* Full Container | Client Portfolio*/



.full-container{
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0;
    position: relative;
    height:270px;
}

.clientPortfolio h2{
    text-align: center;
    padding-top:50px;
    font-size:40px;
}


/* Slider */

  .slide-portfolio {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }
  
  
  
  .clientImg {
    width: 110px;
    height: 48px;
    animation: scroll 60s linear infinite;
  }
  
  .slider {
    padding: 70px 30px;
  }
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }

  /* Services */

.heading-services{
    text-align:center;
    margin-bottom:100px;
}

.heading-services h2{
    font-size:40px;
    line-height:50px;
    font-weight:700;
    padding:30px;
}

.heading-services p{
    font-size:25px;
    line-height:30px;
    font-weight:400;
    color:#8D8D8D;
}

.services-container{
    display:flex;
    grid-template-columns:auto auto;
    background-color:#F5F5F5;
    padding:50px 90px;
    margin-top:50px;
}
.services-container h3{
    font-size:20px;
    line-height:23px;
    font-weight:700;
    padding-bottom:15px;
}

.servicesImg{
    width:400px;
    height:200px;
}



/* Values */

.values{
    text-align:center;
}

.valuesImg{
    width:56px;
    height:56px;
    margin:30px;
}